@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro&display=swap");

body {
  font-family: "Roboto Slab" !important;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  border: 1px solid #333;
  margin: 10px auto;
  width: 70%;
  height: 100%;
}

.main-header {
  background-color: #0f6cc8;
  padding: 10px;
}

.main-header h3 {
  color: #fff;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.main-body {
  padding: 10px;
}

.full-width {
  width: 99% !important;
}

.dropdown-item input[type="checkbox"] {
  margin-left: 10px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 1;
  }
}

.price {
  color: #ffa11a;
  text-align: right;
}

.delivery-days {
  text-align: right;
  margin: 10px 0 0 0;
}

.delivery-days a {
  color: #116cc8;
  font-weight: 700;
}
.funiture-style {
  display: table;
  width: 100%;
  margin-top: 10px;
}
.funiture-style div {
  float: left;
  margin-right: 7px;
  color: #3b85d2;
}
.badge {
  margin-right: 5px;
}
.badge-info {
  color: #000 !important;
}
